.App {
  text-align: center;
  color: black;
}
.Text{
  border: 2px solid black;
  margin: 5% 30% 5% 30%;
  padding: 1%;
  background-color: grey;
}
body{
  background-color: darkcyan;
}
button{
  background-color: grey;
}